.gradle
build/
/reports
local.properties

.idea/*
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/copyright
*.iws
*.iml
*.ipr

.DS_Store

/src/nativeMain/kotlin/com/norsedreki/dogcat/app/BuildConfig.kt
