.gradle
build/

.idea/*
!.idea/runConfigurations/
!.idea/codeStyles/
*.iws
*.iml
*.ipr

.DS_Store

# to figure out a better placement for this guy
/src/nativeMain/kotlin/com/norsedreki/dogcat/app/BuildConfig.kt
